APScheduler==3.6.3
asttokens==2.0.3
beautifulsoup4==4.9.2
bs4==0.0.1
bson==0.5.8
certifi==2020.6.20
chardet==3.0.4
distconfig==0.1.0
falcon==2.0.0
greenlet==0.4.17
gunicorn==20.0.4
httpie==2.2.0
idna==2.10
meinheld==1.0.2
pathtools==0.1.2
pycryptodome==3.9.8
Pygments==2.7.1
pymongo==3.10.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
semantic-version==2.8.5
six==1.13.0
soupsieve==2.0.1
toml==0.10.1
tzlocal==2.1
ujson==3.2.0
urllib3==1.25.10
vyper-config==0.6.2
watchdog==0.10.3
